
<h1><%=@artist.name.capitalize=%>'s Songs:</h1>
<hr>
<ol>
  <% @songs.each do |song| %>
    <li><%= link_to song.title.capitalize, [@artist, song] %></li>
  <% end %>
</ol>
<%= link_to 'Add a new song', new_artist_song_path(@artist) %>
