<h1>Billboards</h1>
<hr>

<ul>
  <% @billboards.each do |board| %>
    <li><h3><%= link_to board.name.capitalize, board %></h3></li>
  <% end %>
</ul>

<hr>
<h2><%= link_to 'Browse Artists', artists_path %> </h2>