<h1><%= @billboard.name.capitalize %></h1>
<hr />

<%= link_to 'Add a song', artists_path %> 
<%# <%= link_to 'View Songs', artist_songs_path(@artist) %>

<br>
<%= link_to 'Back to Billboards', root_path %>